configuration {
	modi:			"drun,ssh";
	terminal:		"terminator";
	font:			"Source Code Pro Medium 18";
	show-icons:		true;
	ssh-command:	"{terminal} -e '{ssh-client} {host} [-p {port}]'";
	theme:			"./rofi_theme.rasi";
	icon-theme:		"Elementary";
	display-drun:	" drun";
	display-ssh:	" ssh";
	sidebar-mode:	true;
	scroll-method: 1;
}
